<div
  id="addBlocksContainer"
  style="
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #121e2e;
    position: fixed;
    top: 6rem;
    right: 1rem;
    height: 30rem;
    width: 3rem;
    color: white;
    writing-mode: vertical-lr;
  "
>
  ADD BLOCKS
</div>
<div
  id="insideAddBlocks"
  style="
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #121e2e;
    position: fixed;
    top: 6rem;
    right: 1rem;
    height: 30rem;
    width: 12rem;
    padding-bottom: 1rem;
  "
>
  <h2
    style="
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    "
  >
    Add Block
  </h2>
  <div
    style="
      display: flex;
      justify-content: space-around;
      height: 4.5rem;
      width: 100%;
      margin-bottom: 0.8rem;
    "
  >
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="sociallinks"
    >
      Social
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="customlink"
    >
      Link
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="customtext"
    >
      Text
    </button>
  </div>
  <div
    style="
      display: flex;
      justify-content: space-around;
      height: 4.5rem;
      width: 100%;
      margin-bottom: 0.8rem;
    "
  >
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="videopreview"
    >
      Video Preview
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="newsletter"
    >
      Mailing List
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="newsletter"
    >
      Dummy
    </button>
  </div>
  <div
    style="
      display: flex;
      justify-content: space-around;
      height: 4.5rem;
      width: 100%;
      margin-bottom: 0.8rem;
    "
  >
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="sociallinks"
    >
      Social
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="customlink"
    >
      Link
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="customtext"
    >
      Text
    </button>
  </div>
  <div
    style="
      display: flex;
      justify-content: space-around;
      height: 4.5rem;
      width: 100%;
      margin-bottom: 0.8rem;
    "
  >
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="videopreview"
    >
      Video Preview
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="newsletter"
    >
      Mailing List
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="newsletter"
    >
      Dummy
    </button>
  </div>
  <div
    style="
      display: flex;
      justify-content: space-around;
      height: 4.5rem;
      width: 100%;
      margin-bottom: 0.8rem;
    "
  >
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="sociallinks"
    >
      Social
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="customlink"
    >
      Link
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="customtext"
    >
      Text
    </button>
  </div>
  <div
    style="
      display: flex;
      justify-content: space-around;
      height: 4.5rem;
      width: 100%;
      margin-bottom: 0.8rem;
    "
  >
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="videopreview"
    >
      Video Preview
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="newsletter"
    >
      Mailing List
    </button>
    <button
      class="btnOpenForm"
      style="
        background-color: #162a45;
        height: 100%;
        width: 30%;
        color: white;
        font-size: 0.8rem;
      "
      data-block="newsletter"
    >
      Dummy
    </button>
  </div>
</div>

<script>
  const addBlocksContainer = document.querySelector("#addBlocksContainer");
  addBlocksContainer.style.cursor = "pointer";
  addBlocksContainer.addEventListener("mouseover", (e) => {
    e.preventDefault();

    const insideAddBlocks = document.querySelector("#insideAddBlocks");
    insideAddBlocks.style.display = "flex";
  });

  const insideAddBlocks = document.querySelector("#insideAddBlocks");
  insideAddBlocks.addEventListener("mouseover", (e) => {
    e.preventDefault();

    const insideAddBlocks = document.querySelector("#insideAddBlocks");
    insideAddBlocks.style.display = "flex";
  });

  insideAddBlocks.addEventListener("mouseout", (e) => {
    e.preventDefault();

    const insideAddBlocks = document.querySelector("#insideAddBlocks");
    insideAddBlocks.style.display = "none";
  });
</script>
