<div
  id="addBlocksContainer"
  class="bg-light shadow rounded"
  style="
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 6rem;
    right: 1rem;
    height: 88%;
    width: 3rem;
    color: #5e6e82;
  "
>
  A<br>
  D<br>
  D<br>
  <br>
  B<br>
  L<br>
  O<br>
  C<br>
  K<br>
  S
</div>
<div
  id="insideAddBlocks"
  class="bg-light shadow rounded"
  style="
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 6rem;
    right: 1rem;
    height: 88%;
    width: 15%;
    padding-bottom: 1rem;
    font-size: 12;
  "
>
  <h2
    style="
      color: #5e6e82;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    "
  >
    Add Block
  </h2>
  <div class="row">
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block="customtext"
    >
      Text
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block="videopreview"
    >
      Video
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block="customlink"
    >
      Link
    </button>
  </div>
  <div class="row">
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block="newsletter"
    >
      Newsletter
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Socials
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Gallery
    </button>
  </div>
  <div class="row">
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Call
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Product
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      1:1
    </button>
  </div>
  <div class="row">
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Q&A
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Live
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Exclusive
    </button>
  </div>
  <div class="row">
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Tipping
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Map
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Poll
    </button>
  </div>
  <div class="row">
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Music
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      Podcast<br>Music
    </button>
    <button
      class="add-block-btn mx-2 rounded bg-white shadow"
      style="height: 100px; width: 70px;"
      data-block=""
    >
      ADS
    </button>
  </div>
</div>

<script>
  const addBlocksContainer = document.querySelector("#addBlocksContainer");
  addBlocksContainer.style.cursor = "pointer";
  addBlocksContainer.addEventListener("mouseover", (e) => {
    e.preventDefault();

    const insideAddBlocks = document.querySelector("#insideAddBlocks");
    insideAddBlocks.style.display = "flex";
  });

  const insideAddBlocks = document.querySelector("#insideAddBlocks");
  insideAddBlocks.addEventListener("mouseover", (e) => {
    e.preventDefault();

    const insideAddBlocks = document.querySelector("#insideAddBlocks");
    insideAddBlocks.style.display = "flex";
  });

  insideAddBlocks.addEventListener("mouseout", (e) => {
    e.preventDefault();

    const insideAddBlocks = document.querySelector("#insideAddBlocks");
    insideAddBlocks.style.display = "none";
  });
</script>
