<nav class="navbar navbar-vertical navbar-expand-xl navbar-light mt-5 pt-5 ml-2">
          <div class="d-flex align-items-center">
            <div class="toggle-icon-wrapper">
              <button
                class="btn navbar-toggler-humburger-icon navbar-vertical-toggle"
                data-toggle="tooltip"
                data-placement="left"
                title="Toggle Navigation"
              >
                <span class="navbar-toggle-icon"
                  ><span class="toggle-line"></span
                ></span>
              </button>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content perfect-scrollbar scrollbar">
              <!---->
              <div class="navbar-vertical-divider">
                <hr class="navbar-vertical-hr my-2" />
              </div>
              <!---->
              <ul class="navbar-nav flex-column">
                <li class="nav-item">
                  <a
                    class="nav-link dropdown-indicator"
                    href="#home"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="home"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fas fa-home"></span></span
                      ><span class="nav-link-text">Home</span>
                      <span class="badge badge-pill ml-2 badge-soft-danger"
                        >146
                      </span>
                    </div>
                  </a>
                  <ul
                    class="nav collapse"
                    id="home"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">News</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="home"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Events</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link dropdown-indicator"
                    href="#Profile"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="Profile"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fas fa-user"></span></span
                      ><span class="nav-link-text">Profile</span>
                    </div>
                  </a>
                  <ul
                    class="nav collapse"
                    id="Profile"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Canvas</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="Profile"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Payment</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="Profile"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Settings</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link dropdown-indicator"
                    href="#Referral"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="Referral"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fas fa-rocket"></span></span
                      ><span class="nav-link-text">Referral</span>
                    </div>
                  </a>
                  <ul
                    class="nav collapse"
                    id="Referral"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Affiliate</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="Referral"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Ambassador</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link dropdown-indicator"
                    href="#Resources"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="Resources"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fas fa-cubes"></span></span
                      ><span class="nav-link-text">Resources</span>
                    </div>
                  </a>
                  <ul
                    class="nav collapse"
                    id="Resources"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Recommendations</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="Resources"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Tutorials</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="Resources"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Workshop</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link dropdown-indicator"
                    href="#Analytics"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="Analytics"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fa fa-chart-pie"></span></span
                      ><span class="nav-link-text">Analytics</span>
                    </div>
                  </a>
                  <ul
                    class="nav collapse"
                    id="Analytics"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Traffic</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="Analytics"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Earnings</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link dropdown-indicator"
                    href="#Calendar"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="Calendar"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fas fa-calendar"></span></span
                      ><span class="nav-link-text">Calendar</span>
                      <span class="badge badge-pill ml-2 badge-soft-success"
                        >7
                      </span>
                    </div>
                  </a>
                  <ul
                    class="nav collapse"
                    id="Calendar"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Apponintments</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link dropdown-indicator"
                    href="#Help"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="Help"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fas fa-ticket-alt"></span></span
                      ><span class="nav-link-text">Help</span>
                    </div>
                  </a>
                  <ul
                    class="nav collapse"
                    id="Help"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Ticket</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="Help"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">FAQ</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="Help"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Policies</a>
                    </li>
                  </ul>
                </li>

              </ul>
              <ul class="navbar-nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="../changelog.html">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fas fa-code-branch"></span></span
                      ><span class="nav-link-text"> Changelog</span
                      ><span class="badge badge-pill ml-2 badge-soft-primary"
                        >v1.0.0
                      </span>
                    </div>
                  </a>
                </li>
              </ul>
              <!---->
              <div class="navbar-vertical-divider">
                <hr class="navbar-vertical-hr my-2" />
              </div>
              <!---->
              <ul class="navbar-nav flex-column">

                <li class="nav-item">
                  <a
                    class="nav-link dropdown-indicator"
                    href="#Support-Desk"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="Support-Desk"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fas fa-hands-helping"></span></span
                      ><span class="nav-link-text">Support Desk</span>
                    </div>
                  </a>
                  <ul
                    class="nav collapse"
                    id="Support-Desk"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Tickets</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="Support-Desk"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Team Chat</a>
                    </li>
                  </ul>
                </li>

              </ul>
              <!---->
              <div class="navbar-vertical-divider">
                <hr class="navbar-vertical-hr my-2" />
              </div>
              <!---->
              <ul class="navbar-nav flex-column">

                <li class="nav-item">
                  <a
                    class="nav-link dropdown-indicator"
                    href="#C-Panel"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="C-Panel"
                  >
                    <div class="d-flex align-items-center">
                      <span class="nav-link-icon"
                        ><span class="fas fa-solar-panel"></span></span
                      ><span class="nav-link-text">C-Panel</span>
                    </div>
                  </a>
                  <ul
                    class="nav collapse"
                    id="C-Panel"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Analytics</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="C-Panel"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Settings</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="C-Panel"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Database</a>
                    </li>
                  </ul>
                  <ul
                    class="nav collapse"
                    id="C-Panel"
                    data-parent="#navbarVerticalCollapse">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Jobs Applications</a>
                    </li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </nav>