<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs'); %>
  <!-- ===============================================-->
  <!--                Page Title                      -->
  <!-- ===============================================-->
  <title>FrontShare</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <a class="nav-link" href="login" role="button">Login</a>
      <a class="nav-link" href="signup" role="button">Sign up</a>
    </div>
  </div>
</body>
</html>