<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>FrontShare | Dashboard &amp; WebApp Template</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicons/favicon-16x16.png"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicons/favicon.ico"
    />
    <link rel="manifest" href="/assets/img/favicons/manifest.json" />
    <meta
      name="msapplication-TileImage"
      content="/assets/img/favicons/mstile-150x150.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="/assets/js/config.navbar-vertical.js"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      href="/assets/lib/perfect-scrollbar/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <link href="/assets/css/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="./scss/css/style.css" />

    <!-- <link rel="stylesheet" href=""> -->
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    
    <%- include('partials/navbar.ejs') %>
    <main class="main" id="top">
      <%- include('partials/leftsidebar.ejs') %>

      <div class="container" data-layout="container">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-12 text-center mb-4">
                  <div class="fs-1">FrontShare Pricing</div>
                  <h3 class="fs-2 fs-md-3 mt-3">
                    Free plan with all the basic features.
                    <br class="d-none d-md-block" />Pro plan for advanced users.
                  </h3>
                  <div class="d-flex flex-center fs--1">
                    <label class="mr-2 mb-0" for="customSwitch1">Monthly</label>
                    <div class="custom-control custom-switch">
                      <input
                        class="custom-control-input"
                        id="customSwitch1"
                        type="checkbox"
                        onchange="changePrice()"
                      />
                      <label class="custom-control-label" for="customSwitch1"
                        >Yearly</label
                      >
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                  <div class="row">
                    <div class="col-12 col-md">
                      <div
                        class="border rounded-soft overflow-hidden mb-3 mb-md-0"
                      >
                        <div
                          class="d-flex justify-content-between align-items-center p-4"
                        >
                          <div>
                            <h3
                              class="font-weight-light fs-5 mb-0 text-primary"
                            >
                              Free
                            </h3>
                            <h2 class="font-weight-light mt-0 text-primary">
                              <sup class="fs-1">&dollar;</sup
                              ><span class="fs-3">0</span>
                              <span class="fs--2 mt-1">/ m</span>
                              <!-- <span class="fs--2 mt-1">/ m</span> -->
                            </h2>
                          </div>
                          <div class="pr-3">
                            <img
                              src="../assets/img/illustrations/paper-plane.svg"
                              width="70"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="p-4 bg-light">
                          <ul class="list-unstyled">
                            <li class="border-bottom py-2">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Free Domain
                            </li>
                            <li class="border-bottom py-2">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              1 Canvas Column
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Regular Canvas block types
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Free Analytics
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              15% transaction fees on your sales
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Unlimited Canvas blocks
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Calendar Access
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-check text-primary"
                                data-fa-transform="shrink-2"
                              ></span>
                              Workshop Access
                            </li>
                            <!-- <li class="py-2 border-bottom text-300">
                              <span
                                class="fas fa-check"
                                data-fa-transform="shrink-2"
                              ></span>
                              Integrations
                            </li>
                            <li class="py-2 border-bottom text-300">
                              <span
                                class="fas fa-check"
                                data-fa-transform="shrink-2"
                              ></span>
                              Payments
                            </li>
                            <li class="py-2 border-bottom text-300">
                              <span
                                class="fas fa-check"
                                data-fa-transform="shrink-2"
                              ></span>
                              Payments
                            </li>
                            <li class="py-2 text-300">
                              <span
                                class="fas fa-check"
                                data-fa-transform="shrink-2"
                              ></span>
                              Unlimted Tags
                            </li> -->
                          </ul>
                          <button
                            class="btn btn-outline-primary btn-block disabled"
                            type="button"
                          >
                            Selected
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md">
                      <div class="border rounded-soft overflow-hidden">
                        <div
                          class="d-flex justify-content-between align-items-center p-4"
                        >
                          <div>
                            <h3
                              class="font-weight-light text-primary fs-5 mb-0"
                            >
                              Pro
                            </h3>
                            <h2 class="font-weight-light text-primary mt-0">
                              <sup class="fs-1">&dollar;</sup
                              ><span class="fs-3" id="priceplan">15/ m</span>
                              <!-- <span class="fs--2 mt-1">/ m</span> -->
                              <!-- <span class="fs--2 mt-1">lifetime</span> -->
                            </h2>
                          </div>
                          <div class="pr-3">
                            <img
                              src="../assets/img/illustrations/startup.svg"
                              width="70"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="p-4 bg-light">
                          <ul class="list-unstyled">
                            <li class="border-bottom py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Custom Domain
                            </li>
                            <li class="border-bottom py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              ></span>
                              3 canvas columns
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              ></span>
                              Exclusive Canvas Block types
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Advanced Analytics
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              0% transaction fees on your sales
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Animated Backgrounds
                            </li>
                            <li class="py-2 border-bottom">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Animated Themes
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Unlock all Workshop's content
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Featured on Home page
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Verification badge
                            </li>
                            <li class="py-2">
                              <span
                                class="fas fa-plus text-success"
                                data-fa-transform="shrink-2"
                              >
                              </span>
                              Custom referral Code
                            </li>
                          </ul>
                          <a href="/billing">
                            <button
                              class="btn btn-primary btn-block"
                              type="button"
                              id="purchase_pro"
                            >
                              Select
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0">Frequently asked questions</h5>
            </div>
            <div class="card-body bg-light">
              <div class="row">
                <div class="col-lg-6">
                  <h5 class="fs-0">How does FrontShare's pricing work?</h5>
                  <p class="fs--1">
                    The free version of FrontShare is available for teams of up
                    to 15 people. Our FrontShare Premium plans of 15 or fewer
                    qualify for a small team discount. As your team grows to 20
                    users or more and gets more value out of FrontShare, you'll
                    get closer to our standard monthly price per seat. The price
                    of a paid FrontShare plan is tiered, starting in groups of 5
                    and 10 users, based on the number of people you have in your
                    Team or Organization.
                  </p>
                  <h5 class="fs-0">What forms of payment do you accept?</h5>
                  <p class="fs--1">
                    You can purchase FrontShare with any major credit card. For
                    annual subscriptions, we can issue an invoice payable by
                    bank transfer or check. Please contact us to arrange an
                    invoice purchase. Monthly purchases must be paid for by
                    credit card.
                  </p>
                  <h5 class="fs-0">
                    We need to add more people to our team. How will that be
                    billed?
                  </h5>
                  <p class="fs--1">
                    You can add as many new teammates as you need before
                    changing your subscription. We will subsequently ask you to
                    correct your subscription to cover current usage.
                  </p>
                  <h5 class="fs-0">How secure is FrontShare?</h5>
                  <p class="fs--1 mb-lg-0">
                    Protecting the data you trust to FrontShare is our first
                    priority. FrontShare uses physical, procedural, and
                    technical safeguards to preserve the integrity and security
                    of your information. We regularly back up your data to
                    prevent data loss and aid in recovery. Additionally, we host
                    data in secure SSAE 16 / SOC1 certified data centers,
                    implement firewalls and access restrictions on our servers
                    to better protect your information, and work with
                    third-party security researchers to ensure our practices are
                    secure.
                  </p>
                </div>
                <div class="col-lg-6">
                  <h5 class="fs-0">Will I be charged sales tax?</h5>
                  <p class="fs--1">
                    As of May 2016, state and local sales tax will be applied to
                    fees charged to customers with a billing address in the
                    State of New York.
                  </p>
                  <h5 class="fs-0">Do you offer discounts?</h5>
                  <p class="fs--1">
                    We've built in discounts at each tier for teams smaller than
                    15 members. We also offer two months for free in exchange
                    for an annual subscription.
                  </p>
                  <h5 class="fs-0">Do you offer academic pricing?</h5>
                  <p class="fs--1">
                    We're happy to work with student groups using FrontShare.
                    Contact Us
                  </p>
                  <h5 class="fs-0">
                    Is there an on-premise version of FrontShare?
                  </h5>
                  <p class="fs--1">
                    We are passionate about the web. We don't plan to offer an
                    internally hosted version of FrontShare. We hope you trust
                    us to provide a robust and secure service so you can do the
                    work only your team can do.
                  </p>
                  <h5 class="fs-0">What is your refund policy?</h5>
                  <p class="fs--1 mb-0">
                    We do not offer refunds apart from exceptions listed below.
                    If you cancel your plan before the next renewal cycle, you
                    will retain access to paid features until the end of your
                    subscription period. When your subscription expires, you
                    will lose access to paid features and all data associated
                    with those features. Exceptions to our refund policy:
                    canceling within 48 hours of initial charge will result in a
                    full refund. If you cancel within this timeframe, you will
                    lose access to paid features and associated data immediately
                    upon canceling.
                  </p>
                </div>
              </div>
            </div>
            <div class="card-footer py-3">
              <div class="text-center py-3">
                <h6 class="fs-0 font-weight-normal">Have more questions?</h6>
                <a
                  class="btn btn-falcon-primary btn-sm"
                  href="#"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  >Ask us anything</a
                >
              </div>
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header bg-light">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Ask your question
                      </h5>
                      <button
                        class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span class="font-weight-light" aria-hidden="true"
                          >&times;</span
                        >
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input class="form-control" id="name" type="text" />
                        </div>
                        <div class="form-group">
                          <label for="emailModal">Email</label>
                          <input
                            class="form-control"
                            id="emailModal"
                            type="email"
                          />
                        </div>
                        <div class="form-group">
                          <label for="question">Question</label>
                          <textarea
                            class="form-control"
                            id="question"
                            rows="4"
                          ></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer bg-light rounded">
                      <button
                        class="btn btn-secondary btn-sm"
                        type="button"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <button class="btn btn-primary btn-sm" type="submit">
                        Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer>
            <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">
                  All rights reserved
                  <span class="d-none d-sm-inline-block">| </span
                  ><br class="d-sm-none" />
                  2023 &copy; <a href="#">FrontShare</a>
                </p>
              </div>
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">v1.0.0</p>
              </div>
            </div>
          </footer>
        </div>
        <div
          class="modal fade modal-fixed-right modal-theme overflow-hidden"
          id="settings-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="settings-modal-label"
          aria-hidden="true"
          data-options='{"autoShow":true,"autoShowDelay":3000,"showOnce":true}'
        >
          <div class="modal-dialog modal-dialog-vertical" role="document">
            <div
              class="modal-content border-0 vh-100 scrollbar perfect-scrollbar"
            >
              <div class="modal-header modal-header-settings">
                <div class="z-index-1 py-1 flex-grow-1">
                  <h5 class="text-white" id="settings-modal-label">
                    <span class="fas fa-palette mr-2 fs-0"></span>Settings
                  </h5>
                  <p class="mb-0 fs--1 text-white opacity-75">
                    Set your own customized style
                  </p>
                </div>
                <button
                  class="close z-index-1"
                  type="button"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span class="font-weight-light" aria-hidden="true"
                    >&times;</span
                  >
                </button>
              </div>
              <div class="modal-body px-card">
                <h5 class="fs-0">Color Scheme</h5>
                <p class="fs--1">Choose the perfect color mode for your app.</p>
                <div
                  class="btn-group btn-group-toggle btn-block"
                  data-toggle="buttons"
                >
                  <div
                    class="btn btn-theme-default custom-control custom-radio custom-radio-success active"
                  >
                    <label
                      class="cursor-pointer hover-overlay"
                      for="theme-mode-default"
                      ><img
                        class="w-100"
                        src="../assets/img/generic/falcon-mode-default.jpg"
                        alt=""
                    /></label>
                    <label
                      class="cursor-pointer mb-0 d-flex justify-content-center pl-3"
                      for="theme-mode-default"
                    >
                      <input
                        class="custom-control-input"
                        id="theme-mode-default"
                        type="radio"
                        name="colorScheme"
                        checked="checked"
                        value="theme-mode-default"
                        data-page-url="../index.html"
                      /><span class="custom-control-label">Light</span>
                    </label>
                  </div>
                  <div
                    class="btn btn-theme-dark custom-control custom-radio custom-radio-success"
                  >
                    <label
                      class="cursor-pointer hover-overlay"
                      for="theme-mode-dark"
                      ><img
                        class="w-100"
                        src="../assets/img/generic/falcon-mode-dark.jpg"
                        alt=""
                    /></label>
                    <label
                      class="cursor-pointer mb-0 d-flex justify-content-center pl-3"
                      for="theme-mode-dark"
                    >
                      <input
                        class="custom-control-input"
                        id="theme-mode-dark"
                        type="radio"
                        name="colorScheme"
                        value="theme-mode-dark"
                        data-page-url="../documentation/dark-mode.html"
                      /><span class="custom-control-label">Dark</span>
                    </label>
                  </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <div class="media flex-grow-1">
                    <img
                      class="mr-2"
                      src="../assets/img/icons/left-arrow-from-left.svg"
                      width="20"
                      alt=""
                    />
                    <div class="media-body">
                      <h5 class="fs-0">RTL Mode</h5>
                      <p class="fs--1 mb-0">Switch your language direction</p>
                    </div>
                  </div>
                  <div class="custom-control custom-switch">
                    <input
                      class="custom-control-input"
                      id="mode-rtl"
                      type="checkbox"
                      data-home-url="../index.html"
                      data-url="../documentation/RTL.html"
                    />
                    <label class="custom-control-label" for="mode-rtl"> </label>
                  </div>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <div class="media flex-grow-1">
                    <img
                      class="mr-2"
                      src="../assets/img/icons/arrows-h.svg"
                      width="20"
                      alt=""
                    />
                    <div class="media-body">
                      <h5 class="fs-0">Fluid Layout</h5>
                      <p class="fs--1 mb-0">Toggle container layout system</p>
                    </div>
                  </div>
                  <div class="custom-control custom-switch">
                    <input
                      class="custom-control-input"
                      id="mode-fluid"
                      type="checkbox"
                      data-home-url="../index.html"
                      data-url="../documentation/fluid-layout.html"
                    />
                    <label class="custom-control-label" for="mode-fluid">
                    </label>
                  </div>
                </div>
                <hr />
                <div class="media">
                  <img
                    class="mr-2"
                    src="../assets/img/icons/paragraph.svg"
                    width="20"
                    alt=""
                  />
                  <div class="media-body">
                    <h5 class="fs-0 d-flex align-items-center">
                      Navigation Position
                      <span
                        class="badge badge-pill badge-soft-success fs--2 ml-2"
                        >Updated</span
                      >
                    </h5>
                    <p class="fs--1 mb-2">
                      Select a suitable navigation system for your web
                      application
                    </p>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        class="custom-control-input"
                        id="option-navbar-vertical"
                        type="radio"
                        name="navbar"
                        value="vertical"
                        checked="checked"
                        data-page-url="../components/navbar/vertical.html"
                      />
                      <label
                        class="custom-control-label"
                        for="option-navbar-vertical"
                        >Vertical</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        class="custom-control-input"
                        id="option-navbar-top"
                        type="radio"
                        name="navbar"
                        value="top"
                        data-page-url="../components/navbar/top.html"
                      />
                      <label
                        class="custom-control-label"
                        for="option-navbar-top"
                        >Top</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline mr-0"
                    >
                      <input
                        class="custom-control-input"
                        id="option-navbar-combo"
                        type="radio"
                        name="navbar"
                        value="combo"
                        data-page-url="../components/navbar/combo.html"
                      />
                      <label
                        class="custom-control-label"
                        for="option-navbar-combo"
                        >Combo</label
                      >
                    </div>
                  </div>
                </div>
                <hr />
                <h5 class="fs-0 d-flex align-items-center">
                  Vertical Navbar Style
                </h5>
                <p class="fs--1">
                  Switch between styles for your vertical navbar
                </p>
                <div
                  class="btn-group-toggle btn-block btn-group-navbar-style"
                  data-toggle="buttons"
                >
                  <div class="btn-group btn-block">
                    <div
                      class="btn p-0 text-left custom-control custom-radio custom-radio-success mr-2 active"
                    >
                      <label
                        class="cursor-pointer w-100"
                        for="navbar-style-transparent"
                        ><img
                          class="w-100"
                          src="../assets/img/generic/default.png"
                          alt=""
                      /></label>
                      <label
                        class="cursor-pointer d-flex mb-0 pl-3 ml-2"
                        for="navbar-style-transparent"
                      >
                        <input
                          class="custom-control-input"
                          id="navbar-style-transparent"
                          type="radio"
                          name="navbarVertical"
                          checked="checked"
                          data-page-url="../index.html"
                          value="transparent"
                        /><span class="custom-control-label"> Transparent</span>
                      </label>
                    </div>
                    <div
                      class="btn p-0 text-left custom-control custom-radio custom-radio-success mr-2"
                    >
                      <label
                        class="cursor-pointer w-100"
                        for="navbar-style-inverted"
                        ><img
                          class="w-100"
                          src="../assets/img/generic/inverted.png"
                          alt=""
                      /></label>
                      <label
                        class="cursor-pointer d-flex mb-0 pl-3 ml-2"
                        for="navbar-style-inverted"
                      >
                        <input
                          class="custom-control-input"
                          id="navbar-style-inverted"
                          type="radio"
                          name="navbarVertical"
                          data-page-url="../layouts/navbar-vertical-inverted.html"
                          value="inverted"
                        /><span class="custom-control-label"> Inverted</span>
                      </label>
                    </div>
                  </div>
                  <div class="btn-group btn-block mt-3">
                    <div
                      class="btn p-0 text-left custom-control custom-radio custom-radio-success mr-2"
                    >
                      <label
                        class="cursor-pointer w-100"
                        for="navbar-style-card"
                        ><img
                          class="w-100"
                          src="../assets/img/generic/card.png"
                          alt=""
                      /></label>
                      <label
                        class="cursor-pointer d-flex mb-0 pl-3 ml-2"
                        for="navbar-style-card"
                      >
                        <input
                          class="custom-control-input"
                          id="navbar-style-card"
                          type="radio"
                          name="navbarVertical"
                          data-page-url="../layouts/navbar-vertical-card.html"
                          value="card"
                        /><span class="custom-control-label"> Card</span>
                      </label>
                    </div>
                    <div
                      class="btn p-0 text-left custom-control custom-radio custom-radio-success mr-2"
                    >
                      <label
                        class="cursor-pointer w-100"
                        for="navbar-style-vibrant"
                        ><img
                          class="w-100"
                          src="../assets/img/generic/vibrant.png"
                          alt=""
                      /></label>
                      <label
                        class="cursor-pointer d-flex mb-0 pl-3 ml-2"
                        for="navbar-style-vibrant"
                      >
                        <input
                          class="custom-control-input"
                          id="navbar-style-vibrant"
                          type="radio"
                          name="navbarVertical"
                          data-page-url="../layouts/navbar-vertical-vibrant.html"
                          value="vibrant"
                        /><span class="custom-control-label"> Vibrant</span>
                      </label>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="text-center mt-5">
                  <img
                    class="mb-4"
                    src="../assets/img/illustrations/settings.png"
                    alt=""
                    width="120"
                  />
                  <h5>Like What You See?</h5>
                  <p class="fs--1">
                    Get FrontShare now and create beautiful dashboards with
                    hundreds of widgets.
                  </p>
                  <a
                    class="btn btn-primary"
                    href="https://themes.getbootstrap.com/product/falcon-admin-dashboard-webapp-template/"
                    >Purchase</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="modal fade"
          id="authentication-modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="authentication-modal-label"
          aria-hidden="true"
        >
          <div class="modal-dialog mt-6" role="document">
            <div class="modal-content border-0">
              <div
                class="modal-header px-5 text-white position-relative modal-shape-header"
              >
                <div class="position-relative z-index-1">
                  <div>
                    <h4 class="mb-0 text-white" id="authentication-modal-label">
                      Register
                    </h4>
                    <p class="fs--1 mb-0">
                      Please create your free FrontShare account
                    </p>
                  </div>
                </div>
                <button
                  class="close text-white position-absolute t-0 r-0 mt-1 mr-1"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span class="font-weight-light" aria-hidden="true"
                    >&times;</span
                  >
                </button>
              </div>
              <div class="modal-body py-4 px-5">
                <form>
                  <div class="form-group">
                    <label for="modal-auth-name">Name</label>
                    <input
                      class="form-control"
                      type="text"
                      id="modal-auth-name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="modal-auth-email">Email address</label>
                    <input
                      class="form-control"
                      type="email"
                      id="modal-auth-email"
                    />
                  </div>
                  <div class="form-row">
                    <div class="form-group col-6">
                      <label for="modal-auth-password">Password</label>
                      <input
                        class="form-control"
                        type="password"
                        id="modal-auth-password"
                      />
                    </div>
                    <div class="form-group col-6">
                      <label for="modal-auth-confirm-password"
                        >Confirm Password</label
                      >
                      <input
                        class="form-control"
                        type="password"
                        id="modal-auth-confirm-password"
                      />
                    </div>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input
                      class="custom-control-input"
                      type="checkbox"
                      id="modal-auth-register-checkbox"
                    />
                    <label
                      class="custom-control-label"
                      for="modal-auth-register-checkbox"
                      >I accept the <a href="#!">terms </a>and
                      <a href="#!">privacy policy</a></label
                    >
                  </div>
                  <div class="form-group">
                    <button
                      class="btn btn-primary btn-block mt-3"
                      type="submit"
                      name="submit"
                    >
                      Register
                    </button>
                  </div>
                </form>
                <div class="w-100 position-relative mt-5">
                  <hr class="text-300" />
                  <div
                    class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap"
                  >
                    or register with
                  </div>
                </div>
                <div class="form-group mb-0">
                  <div class="row no-gutters">
                    <div class="col-sm-6 pr-sm-1">
                      <a
                        class="btn btn-outline-google-plus btn-sm btn-block mt-2"
                        href="#"
                        ><span
                          class="fab fa-google-plus-g mr-2"
                          data-fa-transform="grow-8"
                        ></span>
                        google</a
                      >
                    </div>
                    <div class="col-sm-6 pl-sm-1">
                      <a
                        class="btn btn-outline-facebook btn-sm btn-block mt-2"
                        href="#"
                        ><span
                          class="fab fa-facebook-square mr-2"
                          data-fa-transform="grow-8"
                        ></span>
                        facebook</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script>
      localStorage.setItem("price", 15);
      function changePrice() {
        let check = document.getElementById("customSwitch1");
        if (!check.checked) {
          document.getElementById("priceplan").innerHTML = "15/ m";
          localStorage.setItem("price", 15);
        } else {
          document.getElementById("priceplan").innerHTML = 180;
          localStorage.setItem("price", 180);
        }
      }
    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/lib/@fortawesome/all.min.js"></script>
    <script src="/assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="/assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="/assets/lib/is_js/is.min.js"></script>
    <script src="/assets/lib/lodash/lodash.min.js"></script>
    <script src="/assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
      rel="stylesheet"
    />
    <script src="/assets/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="/js/stripe.js"></script>
  </body>
</html>
